/*============================= Css Formulir Order Responsive ===============================*/	
.margin-top-50{
	margin-top: 50px;
}
.box_style_order {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ddd;
	margin-bottom: 25px;
	padding: 30px;
	position: relative;
	color: #666;
}
.box_style_order h3.inner-lf{ 
	margin:-30px -30px 20px -30px; 
	background-color:#e04f67; 
	padding:10px 20px 10px 18px;
	color:#fff; 
	/*border:1px solid #fff;*/
	-webkit-border-top-left-radius: 3px;
	text-align:center;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	text-align: left;
}
.box_order_code {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ddd;
	margin-bottom: 25px;
	padding: 30px;
	position: relative;
	color: #666;
}
.box_order_code h3.inner-lf{ 
	margin:-30px -30px 20px -30px; 
	background-color:#fff; 
	padding:10px 20px 10px 18px;
	color:#666; 
	border-bottom: 1px solid #d6d6d6;
	-webkit-border-top-left-radius: 3px;
	text-align:center;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	text-align: left;
}
.box_order_sticky {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 30px;
	position: relative;
	color: #666;
	line-height: 2.5;
}
.box_order_sticky h3.inner-lf{ 
	margin:-30px -30px 20px -30px; 
	background-color:#fff; 
	padding:10px 20px 10px 18px;
	color:#666; 
	border-bottom: 1px solid #d6d6d6;
	-webkit-border-top-left-radius: 3px;
	text-align:center;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.box_style_order h3.inner-lf .show_steps {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 19px;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    color: #fff;
    font-family: sans-serif;
}
.box_style_order h3.inner-lf span{
	color: #fff;
	font-family: sans-serif;
	font-size: 18px;
}

/*======================================RADIO BUTTON===========================================*/
@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px transparent;
  }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 15px transparent;
  }
}
.md-radio {
  margin: 16px 0;
}
.md-radio.md-radio-inline {
  display: inline-block;
}
.md-radio input[type="radio"] {
  display: none;
}
.md-radio input[type="radio"]:checked + label:before {
  border-color: #3bb554;
  animation: ripple 0.2s linear forwards;
}
.md-radio input[type="radio"]:checked + label:after {
  transform: scale(1);
}
.md-radio label {
  display: inline-block;
  height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}
.md-radio label:before, .md-radio label:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all .3s ease;
  transition-property: transform, border-color;
}
.md-radio label:before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}
.md-radio label:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: #3bb554;
}

*, *:before, *:after {
  box-sizing: border-box;
}
/*======================================END RADIO BUTTON===========================================*/
.panel-title-new {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: bold;
    color: inherit;
    font-family: sans-serif;
}
.panel-title-new a {
    display: block;
    color: #777;
}
.panel-title-new a:hover, .panel-title-new a:focus {
    color: #777;
    text-decoration: none;
    outline: none;
}
.panel-body-new {
    padding: 10px 10px 50px 10px;
    line-height: 1.6 !important;
    text-align: center;
}

.box_order_sticky>h2 {
	font-weight: 500;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 20px;
}
.margin-5{
	margin: 5px 0 5px 0;
}
.box_order_sticky>div {
    padding: 4px 0 4px 0;
}
.box_order_sticky>.tab_right p {
   margin: 0;
   color: #000;
}
.box_order_sticky>p a{
   text-decoration: underline;
   color: #000;
   line-height: 1.0;
}
.box_order_sticky>p a:hover{
   color: #e04f67;
}
.tab_right {
    text-align: right;
}
.tab_left {
    float: left;
	color: #888;
}

.font_500 {
    font-weight: 500;
}
.text14 {
    font-size: 14px;
}
.text12 {
    font-size: 12px;
}
.text18 {
    font-size: 18px;
}
.text20 {
    font-size: 20px;
}
.margin-left-118{
	margin-left: 118px;
}
.color_t{
	color: #e04f67;
}
.line_text{
	line-height: 1.6;
	margin:0;
}
.margin-left-20{
	margin-left: 20px;
}

/*=============Button PAY ==========*/
a.btn_full_red, .btn_full_red{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color:#fff;
	width:100%;
	background: #e04f67;
	cursor: pointer;
	padding: 12px 20px;
	display: inline-block;
	outline: none;
	font-size:12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform:uppercase;
	font-weight:bold;
	display:block;
	text-align:center;
	margin:10px 0 10px 0;
}
a.btn_full_red:hover, .btn_full_red:hover{
	background:#f77086;
}
/*==================== CSS Extra Detail ===========================*/
.title i{
	font-size: 18px;
}
.box_style_order .title {
    line-height: 30px;
    padding: 4px 0 0 9px;
    margin-bottom: 24px;
    color: #000000;
    font-weight: 600;
    background: #f5f5f5;	
}
.box_style_order .title p {
	margin: 0;	
	font-weight: 500;
	font-size: 14px;
}
#travel_title{
	font-weight: 500;
	font-size: 14px;
	color:#888;
}
.m_grid[data-role="traveler_infos"] {
    margin-left: 150px;
}
.m_grid {
    text-align: justify;
    line-height: 0;
}
.m_grid .m_justify_list {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    /*display: inline-block;*/
    vertical-align: top;
    overflow: hidden;
    line-height: 1;
    transition: all .2s ease;
    box-sizing: border-box;
}
@media (max-width: 911px) {	
	 .margin-left-118{
		 margin-left: 0;
	 }
}
label.required_text {
    margin-bottom: 5px;
}
label.required_text:after {
    content: '*';
    width: 9px;
    height: 24px;
    font-size: 16px;
    line-height: 1.5;
    color: #e04f67;
    margin-left: 2px;
    vertical-align: -3px;
    font-weight: 500;
}
.gap {
    padding-top: 16px;
}
.gap2 {
    padding-top: 13px;
}
.stepline {
    border: 1px solid #ccc;
    width: 15px;
    position: relative;
    display: table-cell;
    bottom: 0;
    top: 46px;
    right: 8px;
}
@media (max-width: 1024px) {	
	.stepline {
		display: none;
	}
}